# DataForSEO API Credentials (free tier: 100 requests/day)
# Sign up at https://dataforseo.com/
DATAFORSEO_LOGIN=ai.seg01@seginvest.com
#DATAFORSEO_PASSWORD=29e21631be800a67
DATAFORSEO_PASSWORD=712e269a1e24e50f
